<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120240986296-s88qgvq3j68tnqlku4bb7gjl2v65o1lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120240986296-s88qgvq3j68tnqlku4bb7gjl2v65o1lf</string>
	<key>API_KEY</key>
	<string>AIzaSyBoV-Zda7Si5TvBthW6BQ1sRIN8y0t9Llw</string>
	<key>GCM_SENDER_ID</key>
	<string>120240986296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netscaledigital.getChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-getx-24df5</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-getx-24df5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120240986296:ios:43fadca1f45facfb833c4d</string>
</dict>
</plist>